form{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 130%;
}

#loginfo{
    margin-top: 50%;
    font-size: 200%;
}

#rej{
    font-size: 130%;
}

.errors{
    font-size: 110%;
    color: red;
}