form{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 70%;
}

#loginfo{
    margin-top: 20%;
    font-size: 120%;
    font-style: italic;
    font-family: fantasy;
    letter-spacing: 2px;
}

#rej{
    font-size: 120%;
}

.errors{
    font-size: 100%;
    color: red;
}

button{
    max-width: 200px;
    width: 80%;
    height: 32px;
    margin: 3px;
    font-size: 90%;
    font-style: italic;
    font-family: fantasy;
    letter-spacing: 2px;
}