<div class="row" id="cala">
  <div class="col-lg-12 col-xl-2">
    <div class="row" id="logo">
      <div class="col">
        <img id="a" src=".\assets\logo.png" alt="Logo" height="80px" width="80px">
        <img id="b" src=".\assets\logo2.png" alt="Logo" height="80px" width="80px" hidden=true>
        <h4>FORTHEWIN</h4>
      </div>
    </div>
    <div class="row" id="sidebar">
      <!--
      <div class="col">
        <h3>SIDEBAR</h3>
        <div>
          Zarejestruj się!
          <br>
          Imię: <input name="imię">
          <br>
          Nazwisko: <input name="nazwisko">
          <br>
          Nick: <input name="nick">
          <br>
          Hasło: <input name="haslo">
          <br>
          Data urodzenia: <input type="date" name="data" >
          <br>
          Wybierz płeć:
          <br>
          <input type="radio" name="płeć" value="kobieta">Kobieta
          <input type="radio" name="płeć" value="mężczyzna">Mężczyzna
          <br>
          Email: <input name="mail">
          <br><br>
          <button class="btn btn-success" type="submit">Wyślij</button>
          <button class="btn btn-primary" type="button">Wyczyść</button>
        </div>
      </div>
      -->
      <app-form id="aha"></app-form>
      <app-dodatkowy></app-dodatkowy>
    </div>
  </div>
  <div class="col-lg-12 col-xl-10">
    <div class="row" id="gornypasek">
      <div class="col-6" id="wyborgry">
        <h3>WYBÓR GRY</h3>

        <select class="form-select" aria-label="Default select example" name="gra" [(ngModel)]="selectedGame">
          <option *ngFor="let game of games" [ngValue]="game">{{game.name}}</option>
        </select>

      </div>
      <div class="col-6" id="wyborregionu">
        <h3>WYBÓR REGIONU</h3>

        <select class="form-select" aria-label="Default select example" name="region"[(ngModel)]="selectedRegion">
          <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
        </select>
  
    
      </div>
    </div>
    <div class="row" id="dolnypasek">
      <div class="col-12 col-sm-9">
        <div class="row">
          <div class="col-6" id="kontent"> 
            <div *ngIf="selectedGame.name == 'Counter Strike: Global Offensive'; else niecs" class="card border-primary text-black" style="margin: 8%;margin-top: 3%; margin-bottom: 2%; height: 68%;">
              <div class="card-header">CS:GO Tournament</div>
              <div id="kwadratbackground5" class="card-body text-black">
                <pre style="background-color: rgba(255, 255, 255, 0.900);position: absolute; bottom: 5px; left: 5%;  right: 5%; font-size: 90%; color: black; font-weight: bold; text-align: left;border-radius: 5px;" class="card-text">  22.06.2022     2000zł      16<br>  Data           Wygrana     Drużyny</pre>
              </div>
            </div>
            <ng-template #niecs>
              <div class="card border-primary text-black" style="margin: 8%;margin-top: 3%; margin-bottom: 2%; height: 68%;">
                <div class="card-header">Atlas Arena Cup</div>
                <div id="kwadratbackground1" class="card-body text-black">
                  <pre style="background-color: rgba(255, 255, 255, 0.900);position: absolute; bottom: 5px; left: 5%;  right: 5%; font-size: 90%; color: black; font-weight: bold; text-align: left;border-radius: 5px;" class="card-text">24.06.2022   ŁÓDŹ       500zł     8<br>Data         Miejsce    Wygrana   Drużyny</pre>
                </div>
              </div>
            </ng-template>
            
            <div id="zapiszsie1">
              <button (click)="toggle()" *ngIf="selectedGame.name !== 'Wybierz gre...' && selectedRegion.name !== 'Wybierz region...'; else elsik" type="button" class="btn btn-info" onclick="DisablePrzyciski();ZmienPodpowiedz2();document.getElementById('zdjgry').style.height='0%'">ZAPISZ SIĘ</button>
              <ng-template #elsik>
                <button (click)="toggle()" type="button" [disabled]="true" class="btn btn-info" onclick="DisablePrzyciski();ZmienPodpowiedz2();document.getElementById('zdjgry').style.height='0%'">ZAPISZ SIĘ</button>
                  <p style="font-size: 80%;" class="errors">MUSISZ WYBRAĆ GRĘ I REGION</p>
              </ng-template>
            </div>
    
            
          </div>
          <div class="col-6" id="kontent"> 
            <div *ngIf="selectedGame.name == 'League of Legends'; else nielol" class="card border-primary text-black" style="margin: 8%;margin-top: 3%; margin-bottom: 2%; height: 68%;">
              <div class="card-header">I Love LOL</div>
              <div id="kwadratbackground6" class="card-body text-black">
                <pre style="background-color: rgba(255, 255, 255, 0.900);position: absolute; bottom: 5px; left: 5%;  right: 5%; font-size: 90%; color: black; font-weight: bold; text-align: left;border-radius: 5px;" class="card-text">  4.07.2022      1600zł      32<br>  Data           Wygrana     Drużyny</pre>
              </div>
            </div>
            <ng-template #nielol>
              <div class="card border-primary text-black" style="margin: 8%;margin-top: 3%; margin-bottom: 2%; height: 68%;">
                <div class="card-header">Just Fun</div>
                <div id="kwadratbackground2" class="card-body text-black">
                  <pre style="background-color: rgba(255, 255, 255, 0.900);position: absolute; bottom: 5px; left: 5%;  right: 5%; font-size: 90%; color: black; font-weight: bold; text-align: left;border-radius: 5px;" class="card-text">  25.06.2022    1000zł       32<br>  Data          Wygrana      Drużyny</pre>
                </div>
              </div>
            </ng-template>
    
            <div id="zapiszsie2">
              <button (click)="toggle()" *ngIf="selectedGame.name !== 'Wybierz gre...' && selectedRegion.name !== 'Wybierz region...'; else elsik" type="button" class="btn btn-info" onclick="DisablePrzyciski();ZmienPodpowiedz2();document.getElementById('zdjgry').style.height='0%'">ZAPISZ SIĘ</button>
              <ng-template #elsik>
                <button (click)="toggle()" type="button" [disabled]="true" class="btn btn-info" onclick="DisablePrzyciski();ZmienPodpowiedz2();document.getElementById('zdjgry').style.height='0%'">ZAPISZ SIĘ</button>
                  <p style="font-size: 80%;" class="errors">MUSISZ WYBRAĆ GRĘ I REGION</p>
              </ng-template>
            </div>
    
            
          </div>
        </div>
        <div class="row">
          <div class="col-6" id="kontent"> 

            <div *ngIf="selectedGame.name == 'FIFA 22'; else niefifa" class="card border-primary text-black" style="margin: 8%;margin-top: 3%; margin-bottom: 2%; height: 68%;">
              <div class="card-header">FIFA Masters</div>
              <div id="kwadratbackground7" class="card-body text-black">
                <pre style="background-color: rgba(255, 255, 255, 0.900);position: absolute; bottom: 5px; left: 5%;  right: 5%; font-size: 90%; color: black; font-weight: bold; text-align: left;border-radius: 5px;" class="card-text">  22.06.2022     2000zł      16<br>  Data           Wygrana     Drużyny</pre>
              </div>
            </div>
            <ng-template #niefifa>
              <div class="card border-primary text-black" style="margin: 8%;margin-top: 3%; margin-bottom: 2%; height: 68%;">
                <div class="card-header">Priceless</div>
                <div id="kwadratbackground3" class="card-body text-black">
                  <pre style="background-color: rgba(255, 255, 255, 0.900);position: absolute; bottom: 5px; left: 5%;  right: 5%; font-size: 90%; color: black; font-weight: bold; text-align: left;border-radius: 5px;" class="card-text">  29.06.2022    800zł       16<br>  Data          Wygrana     Drużyny</pre>
                </div>
              </div>
            </ng-template>
    
            <div id="zapiszsie3">
              <button (click)="toggle()" *ngIf="selectedGame.name !== 'Wybierz gre...' && selectedRegion.name !== 'Wybierz region...'; else elsik" type="button" class="btn btn-info" onclick="DisablePrzyciski();ZmienPodpowiedz2();document.getElementById('zdjgry').style.height='0%'">ZAPISZ SIĘ</button>
              <ng-template #elsik>
                <button (click)="toggle()" type="button" [disabled]="true" class="btn btn-info" onclick="DisablePrzyciski();ZmienPodpowiedz2();document.getElementById('zdjgry').style.height='0%'">ZAPISZ SIĘ</button>
                  <p style="font-size: 80%;" class="errors">MUSISZ WYBRAĆ GRĘ I REGION</p>
              </ng-template>
            </div>
    
            
          </div>
          <div class="col-6" id="kontent">
            
            <div *ngIf="selectedGame.name == 'Fortnite'; else niefortnite" class="card border-primary text-black" style="margin: 8%;margin-top: 3%; margin-bottom: 2%; height: 68%;">
              <div class="card-header">For Fortnite Cup</div>
              <div id="kwadratbackground8" class="card-body text-black">
                <pre style="background-color: rgba(255, 255, 255, 0.900);position: absolute; bottom: 5px; left: 5%;  right: 5%; font-size: 90%; color: black; font-weight: bold; text-align: left;border-radius: 5px;" class="card-text">  23.06.2022     4000zł      128<br>  Data           Wygrana     Drużyny</pre>
              </div>
            </div>
            <ng-template #niefortnite>
              <div class="card border-primary text-black" style="margin: 8%; margin-top: 3%; margin-bottom: 2%; height: 68%;">
                <div class="card-header">For The Best</div>
                <div id="kwadratbackground4" class="card-body text-black">
                  <pre style="background-color: rgba(255, 255, 255, 0.900);position: absolute; bottom: 5px; left: 5%;  right: 5%; font-size: 90%; color: black; font-weight: bold; text-align: left;border-radius: 5px;" class="card-text">  4.07.2022     2000zł       64<br>  Data          Wygrana      Drużyny</pre>
                </div>
              </div>
            </ng-template>
    
            <div id="zapiszsie4">
              <button (click)="toggle()" *ngIf="selectedGame.name !== 'Wybierz gre...' && selectedRegion.name !== 'Wybierz region...'; else elsik" type="button" class="btn btn-info" onclick="DisablePrzyciski();ZmienPodpowiedz2();document.getElementById('zdjgry').style.height='0%'">ZAPISZ SIĘ</button>
              <ng-template #elsik>
                <button (click)="toggle()" type="button" [disabled]="true" class="btn btn-info" onclick="DisablePrzyciski();ZmienPodpowiedz2();document.getElementById('zdjgry').style.height='0%'">ZAPISZ SIĘ</button>
                  <p style="font-size: 80%;" class="errors">MUSISZ WYBRAĆ GRĘ I REGION</p>
              </ng-template>
            </div>
    
            
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3" id="kontent2">
        <span class="d-none d-xl-block" id="wybranagra" *ngIf="selectedGame.name !== 'Wybierz gre...' && selectedRegion.name !== 'Wybierz region...' && show"> Formularz zgłoszenia do turnieju w grze: {{selectedGame.name}} w regionie: {{selectedRegion.name}}</span><br><br>
        <div class="d-none d-lg-block" id="zdjgry" [ngStyle]="{'background-image': 'url(' + selectedGame.img + ')'}"></div>
        <ng-container *ngIf="show">
          <div id="finalny" class="row">
            <div class="col-xs-12 col-lg-12">
                <form (ngSubmit)="dodajStudenta($event)" [formGroup]="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>IMIĘ</label><br>
                            <input size="15" name="imie" type="text" formControlName = "name">
                    <div class="errors" *ngIf="form.get('name').invalid && (form.get('name').touched || form.get('name').dirty)">
                        <div *ngIf="form.get('name').hasError('required')">
                          Należy wpisać imię!!!</div>
                        <div class="error-text" *ngIf="form.get('name').hasError('nameStrength')">
                         {{form.get('name').errors['nameStrength']}}
                        </div>
                    </div>
                    <label>NAZWISKO</label><br>
                    <input size="15" name="nazwisko" type="text" formControlName = "surname">
                    <div class="errors" *ngIf="form.get('surname').invalid && (form.get('surname').touched || form.get('surname').dirty)">
                        <div *ngIf="form.get('surname').hasError('required')">
                          Należy wpisać nazwisko!!!
                        </div>
                        <div class="error-text" *ngIf="form.get('surname').hasError('SurnameStrength')">
                         {{form.get('surname').errors['SurnameStrength']}}
                        </div>
                    </div>
                </div>
                        <div class="col-sm-12">
                            <label>TELEFON</label><br>
                            <input size="15" name="tel" type="text" formControlName="tel">
                            <div class="errors" *ngIf="form.get('tel').invalid && (form.get('tel').touched || form.get('tel').dirty)">
                                <div *ngIf="form.get('tel').hasError('required')">
                                  Należy wpisać numer telefonu!!!
                                </div>
                                <div class="error-text" *ngIf="form.get('tel').hasError('TelStrength')">
                                 {{form.get('tel').errors['TelStrength']}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>NICK</label><br>
                            <input size="15" name="nick" type="text" formControlName="nick">
                    <div class="errors" *ngIf="form.get('nick').invalid && (form.get('nick').touched || form.get('nick').dirty)">
                        <div *ngIf="form.get('nick').hasError('required')">
                          Należy wpisać nick!!!
                        </div>
                        <div class="error-text" *ngIf="form.get('nick').hasError('NickStrength')">
                         {{form.get('nick').errors['NickStrength']}}
                        </div>
                    </div>
                        </div>
                        <div class="col-sm-12">
                            <label>EMAIL</label><br>
                            <input size="15" name="email" type="text" formControlName="email">
                    <div class="errors" *ngIf="form.get('email').invalid && (form.get('email').touched || form.get('email').dirty)">
                        <div *ngIf="form.get('email').hasError('required')">
                          Należy wpisać email!!!
                        </div>
                        <div class="error-text" *ngIf="form.get('email').hasError('emailStrength')">
                         {{form.get('email').errors['emailStrength']}}
                        </div>
                    </div>
                        </div>
                        <div class="col-sm-12">
                            <label>DATA URODZENIA</label><br>
                            <input type="date" name="date" formControlName="date">
                            <div class="errors" *ngIf="form.get('date').invalid && (form.get('date').touched || form.get('date').dirty)">
                              <div *ngIf="form.get('date').hasError('required')">
                                Należy wybrać date urodzenia!!!
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                            <label>PŁEĆ (Pole nieobowiązkowe) :</label><br>
                            <input style="width:5%" type="radio" id="mężczyzna" value="mężczyzna" name="płeć">
                            <label for="mężczyzna">mężczyzna</label><br>
                            <input style="width:5%" type="radio" id="kobieta" value="kobieta" name="płeć">
                            <label for="kobieta">kobieta</label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <div class="row">
                                <div>
                                    <button style="font-size: 120%;" class="btn btn-success" type="button" *ngIf="form.get('tel').valid && form.get('email').valid && form.get('name').valid && form.get('surname').valid && form.get('nick').valid && form.get('date').valid; else elseBlock" onclick="hide(); document.getElementById('wybranagra').innerHTML=''">ZAPISZ SIĘ</button>
                                    <ng-template #elseBlock>
                                      <button style="font-size: 120%;" class="btn btn-success" type="submit" [disabled]="true">ZAPISZ SIĘ</button>
                                    </ng-template>
                                    <button style="font-size: 120%;" class="btn btn-primary" type="reset">WYCZYŚĆ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </ng-container>
  
        <h3 id="podpowiedzi">
          Aby zapisać się
          na turniej musisz
          się najpierw
          zarejestrować !!!
        </h3>        
        <div id="newform"></div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
