
<div class="row" id="cala">
  <div class="col-sm-12 col-md-3 col-xl-2">
    <div class="row" id="logo">
      <div class="col">
        <img src=".\assets\logo.png" alt="Logo" height="90px" width="90px">
        <h4>FORTHEWIN</h4>
      </div>
    </div>
    <div class="row" id="sidebar">
      <!--
      <div class="col">
        <h3>SIDEBAR</h3>
        <div>
          Zarejestruj się!
          <br>
          Imię: <input name="imię">
          <br>
          Nazwisko: <input name="nazwisko">
          <br>
          Nick: <input name="nick">
          <br>
          Hasło: <input name="haslo">
          <br>
          Data urodzenia: <input type="date" name="data" >
          <br>
          Wybierz płeć:
          <br>
          <input type="radio" name="płeć" value="kobieta">Kobieta
          <input type="radio" name="płeć" value="mężczyzna">Mężczyzna
          <br>
          Email: <input name="mail">
          <br><br>
          <button class="btn btn-success" type="submit">Wyślij</button>
          <button class="btn btn-primary" type="button">Wyczyść</button>
        </div>
      </div>
      -->
      <app-form id="aha"></app-form>
      <app-dodatkowy id="tryby"></app-dodatkowy>
    </div>
  </div>
  <div class="col-md-9 col-xl-10">
    <div class="row" id="gornypasek">
      <div class="col-6" id="wyborgry">
        <h3>WYBÓR GRY</h3>

        <select class="form-select" aria-label="Default select example" name="gra" [(ngModel)]="selectedGame">
          <option *ngFor="let game of games" [ngValue]="game">{{game.name}}</option>
        </select>

      </div>
      <div class="col-6" id="wyborregionu">
        <h3>WYBÓR REGIONU</h3>
       
          <select class="form-select" aria-label="Default select example" name="region">
           <option selected>Wybierz region...</option>
           <option>EUROPA</option>
           <option>AMERYKA</option>
           <option>AZJA</option>
           <option>AFRYKA</option>
      </select>
  
    
      </div>
    </div>
    <div class="row" id="dolnypasek">
      <div class="col-9">
        <div class="row">
          <div [ngStyle]="{'background-image': 'url(' + selectedGame.img + ')'}" class="col-6" id="kontent"> 
            <span *ngIf="selectedGame.name !== 'Wybierz gre...'"> Formularz zgłoszenia do turnieju w grze: {{selectedGame.name}}</span>
            <br>
    
            <button id="zapiszsie1" type="button" class="btn btn-info" onclick="appendForm();DisablePrzyciski();ZmienPodpowiedz2()">ZAPISZ SIĘ</button>
    
            
          </div>
          <div [ngStyle]="{'background-image': 'url(' + selectedGame.img + ')'}" class="col-6" id="kontent"> 
            <span *ngIf="selectedGame.name !== 'Wybierz gre...'"> Formularz zgłoszenia do turnieju w grze: {{selectedGame.name}}</span>
            <br>
    
            <button id="zapiszsie2" type="button" class="btn btn-info" onclick="appendForm();DisablePrzyciski();ZmienPodpowiedz2()">ZAPISZ SIĘ</button>
    
            
          </div>
        </div>
        <div class="row">
          <div [ngStyle]="{'background-image': 'url(' + selectedGame.img + ')'}" class="col-6" id="kontent"> 
            <span *ngIf="selectedGame.name !== 'Wybierz gre...'"> Formularz zgłoszenia do turnieju w grze: {{selectedGame.name}}</span>
            <br>
    
            <button id="zapiszsie3" type="button" class="btn btn-info" onclick="appendForm();DisablePrzyciski();ZmienPodpowiedz2()">ZAPISZ SIĘ</button>
    
            
          </div>
          <div [ngStyle]="{'background-image': 'url(' + selectedGame.img + ')'}" class="col-6" id="kontent"> 
            <span *ngIf="selectedGame.name !== 'Wybierz gre...'"> Formularz zgłoszenia do turnieju w grze: {{selectedGame.name}}</span>
            <br>
    
            <button id="zapiszsie4" type="button" class="btn btn-info" onclick="appendForm();DisablePrzyciski();ZmienPodpowiedz2()">ZAPISZ SIĘ</button>
    
            
          </div>
        </div>
      </div>
      <div class="col-3" id="kontent2">
        <h3 id="podpowiedzi">
          Aby zapisać się<br>
          na turniej musisz<br>
          się najpierw<br>
          zarejestrować !!!
        </h3>        
        <div id="newform"></div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
